@import url("https://fonts.googleapis.com/css?family=Poppins");

*{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    color: white;
}
body{
    background-color: black;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}
/* var */
:root{
    --primary: rgb(255, 255, 255); 
    --secondary: rgb(100, 100, 100);

    --red: rgb(255, 0, 0);
    --red1: rgb(201, 0, 0);
    --red2: rgb(122, 0, 0);
    --dark-red:  rgb(101, 0, 0);

    --grey: rgb(28, 24, 24);
    --grey1: rgb(117, 117, 117);
    --grey2: rgb(156, 156, 156);

    --term: rgb(255, 255, 0);
    --blue: rgb(152, 152, 255);
}
/* var */

.header{
    top: 0;
    left: 0;
    right: 0; /* Set right to 0 */
    margin: auto;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;

}
.brand{
    font-size: 32px;
    text-decoration: none;
    color: var(--primary);
    font-weight: bold;
}

.navbar ul{
    display: flex;
}
.navbar ul li{
    display: flex;
    text-decoration: none;
}
.navbar a{
    text-decoration: none;
    color: var(--primary);
    margin-left: 25px;
    position: relative;
}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--red);
    height: 3px;
    transition: 0.3s;
}
.navbar a:hover::before{
    width: 100%;
    box-shadow: 0 0 10px var(--red);
}
.navbar a:active::before{
    transform: scale(0.5);
}
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}
.menu-toggle span{
    display: block;
    background-color: var(--primary);
    width: 28px;
    height: 3px;
    transition: all 0.3s;
}
.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left: -10px;
    top: -3px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
.menu-toggle input:checked ~ span:nth-child(2){
    background-color: var(--primary);
    transform-origin: 0 0;
    transform: rotate(45deg) translate(-1px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: var(--primary);
    transform-origin: 0 0;
    transform: rotate(-45deg) translate(-3px);
}
.menu-toggle input:checked ~ span:nth-child(3){
    transform: translate(-6px) scale(0);
    opacity: 0;
}

/* nav */
.home{
    position: relative;
    height: 100vh;
    background-image: url('../image/pp.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50%;
    display: flex;
    align-items: center;
}
.home-content {
    position: absolute;
    max-width: 350px;
    right: 10%;
}
.home-content p{
    font-size: 35px;
    letter-spacing: 10px;
    font-weight: bold;
}
.home-content h5{
    line-height: 25px;
    font-weight: normal;
}
.home-content button{
    border: 1px solid var(--secondary);
    padding: 10px 20px;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.5s;
    position: relative;
}
.home-content button::after{
    content: '>>>';
    position: absolute;
    left: 60px;
    top: 15px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 35px;
    color: var(--primary);
    text-shadow: 0 0 10px var(--secondary);
    transition: 0.5s;
}
.home-content button:hover::after{
    opacity: 1;
    transform: translateX(5px);
}
.home-content button:active::after{
    transform: translateX(25px);
}

.sevices{
    position: relative;
}
.title{
    padding-top: 100px;
    padding-bottom: 50px;
    margin: auto;
}
.title h3{
    text-align: center;
    font-size: 24px;
}
.card-container {
    display: flex;
    position: relative;
    justify-content: center;
}
.card-warpper {
    width: 350px;
    height: 250px;
    background-color: var(--grey);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.card {
    text-align: left;
    margin: 30px;
}

.card span {
    font-size: 18px;
    color: var(--grey1);
}

.card h3 {
    margin: 10px 0;
    font-weight: normal;
    color: var(--grey2);
}
.card i {
    font-size: 24px;
    margin: 10px 0;
    color: var(--grey2);

}
.card a{
    text-decoration: none;
}
.experience{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.exp{
    margin: auto;
    width: 85%;
}
.exp-title{
    font-size: 24px;
    padding-top: 100px;
    padding-bottom: 50px;
}
.exp-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
}
.exp-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.exp-card h4{
    padding-top: 10px;
}
.exp-title h3{
text-align: center;
}
.exp-card img{
    width: 100px;
}
.project{
    position: relative;
}
.project-title{
    font-size: 24px;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}
.project-container{
    margin: auto;
    width: 85%;
}
.project-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;

}
.project-desc{
    max-width: 400px;
}
.project-content img{
    width: 200px;
}
.project-content h3{
    color: var(--blue);
    font-weight: normal;
}
.project-content h4{
    font-size: 20px;
    margin: 10px 0;
}
.about{
    position: relative;
    height: 100vh;
}
.about-title{
    font-size: 24px;
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}
.about-container{
    margin: auto;
    width: 85%;
}
.about-content img{
    width: 250px;
    border-radius: 100%;
}
.about-content{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.about-desc{
    width: 50%;
}
.about-desc .name{
    font-size: 24px;
    font-weight: bolder;
    margin: 10px 0;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 85%;
}
.footer-content p{
    max-width: 45%;
}
.form{
    margin: 20px 0;
}
.footer-form input[type=text], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: black;
    background-color: var(--grey);
    border: 1px solid var(--grey);
}
.footer-form button{
    background-color: var(--grey);
    border-radius: 15px;
    border: 1px solid var(--grey);
    padding: 12px 20px;
}
.footer-form button:hover{
    background-color: var(--grey1);
    border: 1px solid var(--grey1);

}
.footer-form i{
    animation: spin 1s infinite;
    font-size: 24px;
}
@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.footer-form button:hover{
    background-color: var(--grey);
}
.social{
    font-size: 30px;
}
@media only screen and (max-width: 800px) {
    .menu-toggle{
        display: flex;
    }
    .navbar ul{
        position: absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: rgb(40, 40, 40);
        height: 70vh;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        transform: translateY(-100%);
        transition: all 0.5s;
        opacity: 0;
    }
    .navbar ul.slide{
        transform: translateY(0);
        opacity: 1;
    }
    .home{
        background-position: left;
        background-size: 350px;
    }
    .card-container{
        flex-direction: column;
        align-items: center;
    }
    .card-container > * {
        margin-bottom: 20px;
    }
    .card-warpper{
        width: 90%;
    }
    .experience{
        height: auto;
    }
    .exp-container{
        grid-template-columns: auto auto;
    }
    .about-content img{
        width: 175px;
    }
}
@media only screen and (max-width: 600px){
    .home{
        background-position: top;
        background-size: 350px;
    }
    .home-content{
        left: 50px;
    }
    .about-content img{
        width: 150px;
    }
}
/* extra */
.debug{
    background-color: red;
}
/* extra */